body {
    background-color: #e1eaf7;
}
/*----------------------------------------------------------------*/
nav {
    background-image: url(img/background1.jpg);
}
.navbar .container #navbarSupportedContent li a {
    color: white;
}
#search {
    border: 1px solid gray;
    width: 400px;
}
/*----------------------------------------------------------------*/
.danhmuc {
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #000;
    box-shadow: 0 0 5px;
}




/*----------------------------------------------------------------*/
.side-menu {
    height: 500px;
    width: 20%;
    float: left;
    background-color: #ddd;
}

.side-menu .card{
    margin: 10px;
    height: 70px;
}

.side-menu .card .row img {
    width: 50px;
    display: block;
    margin: 10px auto;
}

.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li:hover{
    color: orange;
}
/*-----------------------------------------------------*/

.slider { 
    width: 78%;
    margin-left: 21%;
    border-radius: 50px;
    border: 1px solid gray;
}


/*-------------------------------------------*/

.title-box {
    background: black;
    color: #fff;
    width: 250px;
    height: 40px;
    padding: 4px 10px;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2{
    font-size: 24px;
}

/*---------------------------------------------*/

.feature-categories img{
    width: 400px;
    border-radius: 50px;
    box-shadow: 0 0 10px;
}
/*---------------------------------------------*/
.feedback {
    margin-top: 70px;
    background-color: lightblue;
    padding: 20px 0;
}
.feedback .container {
    width: 50%;
}

/*---------------------------------------------*/
.footer{
    padding-top: 50px;
    margin-top: 50px;
    background: #000;
    color: #fff;
}

/*----------------------------------------*/
.thongke .container {
    height: 50px;
    background-color: white;
    border-radius: 10px;
}
.thongke .tk {
    padding: 12px 50px
}
#ds .boloc{
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px 20px;
}
#ds .danhsach{
    height: auto;
    padding: 15px 30px;
}
#ds ul {
    list-style: none;
}

#ds ul li {    
    margin: 10px 0;
}